html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
button,
input[type="checkbox"] {
  cursor: pointer;
}
.todo-item {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
}
.todo-item .description,
.todo-item input[name="description"] {
  flex-grow: 1;
  padding: .5em;
}
.todo-item input[name="description"] {
  font: inherit;
  border: none;
}
.todo-item[data-editing] input[name="completed"] {
  visibility: hidden;
}
.todo-item[data-completed] .description {
  text-decoration: line-through;
  color: #ccc;
}
.todo-item input[name="completed"] {
  -webkit-appearance: none;
  appearance: none;
}
.todo-item input[name="completed"]:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.todo-item input[name="completed"]:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}
.todo-item:hover button.delete {
  opacity: 1;
}
.todo-item button.delete {
  flex-basis: 40px;
  opacity: 0;
  border: none;
  background: none;
  font-size: 0;
}
.todo-item button.delete:after {
  content: "×";
  font-size: 30px;
  color: red;
}
