html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

button, input[type="checkbox"] {
  cursor: pointer;
}

button, input {
  font: inherit;
}

.todo-item {

  display: flex;
  align-items: center;
  position: relative;

  .description, input[name="description"]  {
    flex-grow: 1;
    padding: .5em;
  }

  input[name="description"] {
    font: inherit;
    border: none;
  }
  &[data-editing] {
    input[name="completed"] {
      visibility: hidden;
    }
  }
  &[data-completed] {
    .description {
      text-decoration: line-through;
      color: #ccc;
    }
    
  }

  input[name="completed"] {
    display: none;
    &:checked:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }
    &:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    }    
  }

  &:hover {
    button.delete {
      opacity: 1;
    }
  }

  button.delete {
    
    flex-basis: 40px;
    opacity: 0;
    border: none;
    background: none;
    font-size: 0;

    &:after {
      content: "×";
      font-size: 22px;
      color: red;
    }
  }
}